@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-image: url('../img/background.jpg');
    background-size: cover;
    padding-top: 130px;
}
header{
    height: 80px;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color:rgb(93, 93, 93);
    text-align: center;
}
h1{
color: white;
font-size: 50px;
font-family: 'Roboto', sans-serif;
line-height: .2;
}
form{
    float: left;
    background-color: rgba(169, 169, 169, 0.753);
    height: 400px;
    width: 300px;
    margin-left: 50px;
    border-radius: 5%;
    text-align: center;
    padding-top: 50px;
    position: relative;
    left: 100px;
}
label{
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.692);
    
}
input,select{
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 5%;
}
button{
    width: 55%;
    height: 30px;
    background-color:rgb(93, 93, 93);
    color: white;

}
#tableSection{
    float: right;
    position: relative;
    right: 250px;
    background-color: rgba(169, 169, 169, 0.74);
    border-radius: 5%;
    text-align: center;
    padding: 30px 30px 10px 30px;
}
#total{
 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}
table{
    background-color: rgba(255, 255, 255, 0.726);
    width:17cm;
}
table,td,th{
    border: solid 2px rgba(169, 169, 169, 0.74);
    border-collapse: collapse;
}
td,th{
    font-family: 'Roboto', sans-serif;

}
th{
    font-size: large;
}
